
#navbar-example2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}
#navbar-example2 li a
{
 
   display: flex;
   flex-wrap: wrap;
}
#navbar-example2 li a
{
 
   display: flex;
   flex-wrap: wrap;
      
}


/*---------SECTION Je suis developpeur---------*/
.integrateur h1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.fondCode
{
   
    display: flex;
    flex-direction: row;

}
.integrateur
{
    display: flex;
    flex-direction: row;

}
/*-----------A PROPOS------------*/
.aPropos
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.description .mesButtons
{
    flex-basis: 200px; 
    display: flex;
    
}
/*-----------CONTACTEZ-MOI------------*/

.barreMeContactez
{
    flex-basis: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  
    
    
}
.barreMeContactez li
{
    margin-right: 60px;

}
.blockContact
{
    display: block;
}
.barreMeContactez ul
{
    display: flex;
    

}

/*-----------COMPETENCE------------*/

.competence   
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.auMillieu
{
    display: flex;
    flex-direction: row;
    align-items: center;  
    flex-basis: 500px;
   
}
/*-----------EXPERIENCE------------*/
.heading 
{
    justify-content: center;
    display: flex;
    text-align: center;
    
    
}
/*--------CONTACT-------*/
.FondContact
{
   
    flex-direction: row;
    display: flex;
    align-items: center;

}
/*--------FOOTER-------*/

.footer
{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


/*-----------Media Querie------------*/
@media(min-width:1000px)
{
    .deuxiemeMenu
    {
        display: none;
    }
}

@media(max-width: 1000px)
{
    .deuxiemeMenu
    {
       display: block;
    }
    .fondCode
    {
        display: none;
    }

    .photoProfil
    {
       display: none;
       text-align: justify;
      
    }
  
    .monMenu
    {
        visibility: hidden;
    }
    #experience{
        background: rgb(61, 80, 246);
        display: flex;
        height: auto;
    }

    .barreBleu
    {
        visibility: hidden;
    }
    
    .bet 
    {
        margin: 0;
        padding: 30px;
    }
    .barreMeContactez ul
    {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
   
    }
    .barreMeContactez ul li
    {
        padding-top: 10px;
    }

    .barreMeContactez
{
    height: auto;
    background-color: rgb(61, 80, 246);
    
}
    .competence
{
    
    height: 600px;

}
     #navbar-example2
    {
       
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 0;
      
        
    }
   
    .description
    {
        text-align: center;
    }
    #experience{
        background: rgb(61, 80, 246);
        display: flex;
        height: auto;
    }

    .timeline:before{
   
        height: auto;
    }


}



@media(max-width: 800px)
{
    .monMenu
    {
        visibility: hidden;
    }
    .fondCode
    {
        display: none;
    }
    
    .deuxiemeMenu
 {
    display: block;
 }
 #navbar-example2
    {
       
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 0;
      
        
    }
    
 .photoProfil
    {
       display: none;
       text-align: justify;
    }
    .description
    {
        text-align: center;
    }
    .barreBleu
    {
        visibility: hidden;
    }
    .bet 
    {
        margin: 0;
        padding: 30px;
    }
    .barreMeContactez ul
    {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
   
    }
    .barreMeContactez ul li
    {
       
        padding-top: 10px;
    
    }

    .barreMeContactez
    {
    
    height: auto;
    background-color: rgb(61, 80, 246);
    
    }
    
    .competence
    {
        height: 600px;
    }
     
    
    #experience{
        background: rgb(61, 80, 246);
        display: flex;
        height: auto;
    }
    .timeline:before{
   
        height: auto;
    } 
    

@media(max-width: 660px)
{

    
    .photoProfil
    {
       display: none;
       text-align: justify;
    }
    .barreMeContactez ul
    {
    display: flex;
    color: white;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    
    
    }
        .competence
        {

    height: 600px;
  
        }
 

    #navbar-example2
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 1px;
        
    }


    #navbar-example2 ul 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    #experience
    {
        
        flex-direction: row;
        flex-grow: 1;
    }
    
    .timeline:before
    {
   
    height: auto;
    }
   


}

@media(max-width:300px)
{

      
    .photoProfil
    {
       display: none;
       text-align: justify;
    }
    .barreMeContactez ul
    {
    display: flex;
    color: white;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    
    
    }
        .competence
        {

    height: 600px;
  
        }
 

    #navbar-example2
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 1px;
        
    }


    #navbar-example2 ul 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    #experience
    {
        
        flex-direction: row;
        flex-grow: 1;
    }
    
    .timeline:before
    {
   
    height: auto;
    }
}
}

