
#navbar-example2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    
}
#navbar-example2 li a
{
 
   display: flex;
   flex-wrap: wrap;
}
#navbar-example2 li a
{
 
   display: flex;
   flex-wrap: wrap;
      
}

/*-----------CONTACTEZ-MOI------------*/

.barreMeContactez
{
    flex-basis: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  
    
    
}
.barreMeContactez li
{
    margin-right: 60px;

}
.blockContact
{
    display: block;
}
.barreMeContactez ul
{
    display: flex;
    

}
/*---------SECTION Je suis developpeur---------*/
.fondCode
{
   
    display: flex;
    flex-direction: row;

}
.integrateur
{
    display: flex;
    flex-direction: row;

}

/*-----------A PROPOS------------*/
.aPropos
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*-----------Media Querie------------*/
@media(max-width: 2000px)
{
 .deuxiemeMenu
 {
    display: none;
 }
}
@media(max-width: 1000px)
{


    .photoProfil
    {
       display: none;
       text-align: justify;
      
    }
    #experience{
        background: rgb(61, 80, 246);
        display: flex;
        height: auto;
    }
    


}


@media(max-width: 800px)
{
    .deuxiemeMenu
 {
    display: block;
 }
    .barreBleu
    {
        visibility: hidden;
    }
    
    .monMenu
    {
        visibility: hidden;
    }

    .fondCode
    {
        display: none;
    }
    .bet 
    {
        margin: 0;
        padding: 30px;
    }
    .barreMeContactez ul
    {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
   
    }
   

    .barreMeContactez ul li
    {
       
        padding-top: 10px;
    
    }

    .barreMeContactez
{
    
    height: auto;
    background-color: rgb(61, 80, 246);
    
    
}
 
    .competence
{
    
    height: 600px;

}
     #navbar-example2
    {
       
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 0;
      
        
    }
    .photoProfil
    {
       display: none;
       text-align: justify;
    }
    .description
    {
        text-align: center;
    }
    #experience{
        background: rgb(61, 80, 246);
        display: flex;
        height: auto;
    }

    .timeline:before{
   
        height: auto;
    }

    


@media(max-width: 660px)
{

    
   
    .competence
{

    height: 600px;
  
}
 
   


    #navbar-example2
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        height: 1px;
        
    }


    #navbar-example2 ul 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    #experience
    {
        
        flex-direction: row;
        flex-grow: 1;
    }
    
    .photoProfil
{
   display: none;
   text-align: justify;
}


.barreMeContactez ul
{
    display: flex;
    color: white;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.timeline:before{
   
    height: 1470px;
}


}

@media(max-width:300px)
{

    #navbar-example2 a
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
        text-align: center;
        
    }


    #navbar-example2 ul 
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
    
    .photoProfil
{
   display: none;
   text-align: justify;
}
#experience{
    background: rgb(61, 80, 246);
    display: flex;
    height: auto;
}

}
}

