body, html
{
    padding: 0px;
    margin: 0px;
}
.barreBleu
{
    width: 400px;
    height: 7px;
    background-color:#3e4afa;
    
    display:flex;
    flex-direction: row;
    justify-content:start;
}

/*---------HEADER---------*/

#navbar-example2 li a
{
   text-transform: uppercase;
   color: white;
   font-size: 20px;   
}


/*---------SECTION Je suis developpeur---------*/
.fondCode
{
    background-image: url("images/fond.jpg");
    height: 650px;

}


.integrateur h1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 50px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgb(61, 80, 246);
    text-align: center;
    box-shadow: 10px 20px 15px black;
}

.integrateur h1:hover
{
    color: rgb(61, 80, 246);
    background-color: #fff;
}
/*-----------A PROPOS------------*/
.aPropos
{
    height: 900px;
    color: black;
   
   
}
.description .mesButtons
{
    flex-basis: 200px; 
    display: flex;
    padding: 10px 10px;
}
.aPropos .traitBleu
{
    width: 100px;
    height: 4px;
    background-color: rgb(61, 80, 246);
    margin: 18px auto;
    padding: 0;
}
.photoProfil
{
    width: 330px;
    height: 330px;
    border: 10px black;
}
.description
{
   text-align: center;
   margin: 30px auto;
}

/*-----------CONTACTEZ-MOI------------*/


.barreMeContactez
{
    
    height: 220px;
    background-color: rgb(61, 80, 246);
    text-align: center;
    
}

.barreMeContactez ul
{
    color: white;
    margin: auto;

}
.barreMeContactez ul li
{
    list-style: none;
    margin: auto;
}
/*-----------COMPETENCE------------*/
.competence   
{
    background-image: url("images/startup.jpg");
    
    height: 670px;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}
.traitBleu
{
    width: 100px;
    height: 4px;
    background-color: rgb(61, 80, 246);
    margin: 18px auto;
    padding: 0;
}
.titreCompetence  h1
{
  color: white;
 
}

.barUn
{
    margin: 30px;
    height: 30px;
    font-size:30px;
    box-shadow: 7px 9px 13px  black; 
   
   
}
.auMillieu
{
    display: flex;
    flex-direction: row;
    align-items: center;  
flex-basis: 500px;
   
}
/*-----------EXPERIENCE------------*/
.heading 
{
    justify-content: center;
    display: flex;
    text-align: center;
    
    
}
.traitBlanc
{
    width: 100px;
    height: 4px;
    background-color:#fff;
    margin: 18px auto;
    padding: 0;
}


.heading h1
{
    text-transform: uppercase;
    display:flex;
    text-align: center;
    margin: 50px;
    color: white;
}
#experience{
    background: rgb(61, 80, 246);
    height: 1200px;
}
#experience .heading h1{
    color: #fff;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
    height: 950px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: #3e4afa;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #fff;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel:hover
{
    
    
    background: #333;
    color: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
     color: rgb(61, 80, 246);
}

/*--------CONTACT-------*/

.FondContact
{
    height: 750px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    
}

/*--------FOOTER-------*/
.footer
{
    height: 100px;
    background-color: rgb(56, 55, 55);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}







