body, html
{
    padding: 0px;
    margin: 0px;
}

/*---------HEADER---------*/

#navbar-example2 li a
{
   text-transform: uppercase;
   color: white;
   font-size: 20px;   
}

/*---------SECTION Je suis developpeur---------*/
.fondCode
{
    background-image: url("images/fond.jpg");
    height: 650px;
    filter: grayscale(100%);
 
}

.integrateur h1
{
    align-items: center;
    background-color: white;
    padding: 20px 50px;
    color: black;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    
}
/*-----------A PROPOS------------*/
.aPropos
{
    height: 900px;
    color: black;
   
}
.photoProfil
{
    width: 280px;
    height: 600px;
}
.description
{
    
   margin: auto;
}

/*-----------COMPETENCE------------*/
.competence
{
    background-image: url("images/startup.jpg");
    height: 700px;
    filter: grayscale(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titreCompetence  h1
{
  color: white;
 
}

.barUn
{
    margin: 30px;
    height: 30px;
    font-size:30px;
   
}
.auMillieu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    
flex-basis: 500px;
   
}
/*-----------EXPERIENCE------------*/
.heading 
{
    justify-content: center;
    display: flex;
    text-align: center;
    
}


.heading h1
{
    text-transform: uppercase;
    display:flex;
    text-align: center;
    margin: 50px;
}
#experience{
    background: rgb(95, 111, 251);
}
#experience .heading h{
    color: #fff;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: #d82c2e;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
     color: #d82c2e;
}

